@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, gray 27.26%, red 96.03%);
  font-family: "Koh Santepheap", cursive;
}

.container {
  background: #ecf4ff;
  margin: 60px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  color: #1c1c1c;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-betwenn;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 135px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 17px;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: linear-gradient(236.85deg, gray 27.26%, red 96.03%);
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 32px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projeto-items {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.projeto-items a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, gray 20.26%, red 70%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}